<!-- add.component.html -->
<h2>Add Customer</h2>
<form (ngSubmit)="onSubmit()" #customerForm="ngForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" required [(ngModel)]="customer.name" name="name" #name="ngModel">
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" required [(ngModel)]="customer.email" name="email" #email="ngModel">
  </div>

  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" required [(ngModel)]="customer.phone" name="phone" #phone="ngModel">
  </div>

  <div *ngFor="let order of customer.orders; let i = index">
    <h3>Order {{ i + 1 }}</h3>
    <div>
      <label for="orderNo">order No:</label>
      <input type="text" id="orderNo" required [(ngModel)]="order.orderNo" name="orderNo-{{i}}" #orderNo="ngModel">
    </div>
    <div>
      <label for="pmethod">pmethod:</label>
      <input type="text" id="pmethod" required [(ngModel)]="order.pmethod" name="pmethod-{{i}}" #pmethod="ngModel">
    </div>
    <div>
        <label for="gtotal">gtotal:</label>
        <input type="number" id="gtotal" required [(ngModel)]="order.gtotal" name="gtotal-{{i}}" #gtotal="ngModel">
      </div>
      <div>
        <label for="customer">customer:</label>
        <input type="text" id="customer" required [(ngModel)]="order.customer" name="gtotal-{{i}}" #gtotal="ngModel" value="{{customer.name}}">
      </div>
    <button type="button" (click)="removeOrder(i)">Remove Order</button>
  </div>
  <button type="button" (click)="addOrder()">Add Order</button>

  <button type="submit" [disabled]="!customerForm.form.valid">Submit</button>
</form>
